<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <span class="navbar-brand">Prefeitura Bom Destino</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Início</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/usuario/impostos/">Impostos</a>
              </li>
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
            <form class="d-flex">
              <a class="nav-link" href="/usuario/sair" tabindex="-1" aria-disabled="true">Sair</a>
            </form>
          {% else %}
            <form class="d-flex">
              <a class="btn btn-outline-success" href="/usuario/entrar">Entrar</a>
              <a class="nav-link" href="/usuario/cadastrar" tabindex="-1" aria-disabled="true">Cadastrar</a>
            </form>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>