{% extends "base.html" %}
{% block title %}Início{% endblock %}
{% block content %}
{% include "header.html" %}
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próxima</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://w7.pngwing.com/pngs/838/363/png-transparent-bus-driver-car-computer-icons-taxi-driving-driving-logo-monochrome.png" width="140" height="140" class="img-fluid" alt="Responsive image">

        <h2>Identificação do Condutor Infrator</h2>
        <p>Formulário onde o proprietário poderá indicar o condutor que estava conduzindo o seu veículo no momento da infração.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://mobilems.saude.gov.br/assets/invest-sus/invest-sus-icon.png" width="140" height="140" class="img-fluid" alt="Responsive image">

        <h2>Coronavírus - Denúncia de Aglomeração de Pessoas em Local Público</h2>
        <p>COmunicação de aglomeração de pessoas, com potencial a propagação do COVID-19</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://mobilems.saude.gov.br/assets/invest-sus/invest-sus-icon.png" width="140" height="140" class="img-fluid" alt="Responsive image">

        <h2>Coronavírus - Denúncia de Descumprimento por Estabelecimentos</h2>
        <p>Comunicação ao descumprimento de medidas a propagação do COVID-19</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Saúde</h2>
          <p class="lead">Atendimento médico e de saúde, vigilância sanitária, vacinas.</p>
          <p align="Justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis commodo semper. Quisque suscipit lectus turpis, non aliquet urna sagittis a. Fusce est enim, egestas vel fringilla non, egestas sit amet purus. In hac habitasse platea dictumst. Integer in feugiat lorem, sed pharetra nunc. Donec consectetur, quam non sollicitudin fermentum, lorem eros hendrerit elit, ut dignissim tellus lectus non purus. Maecenas vestibulum quam volutpat sapien imperdiet, sed molestie lectus aliquam. Phasellus a dolor dapibus, sollicitudin lorem nec, porttitor tellus. Ut lacus tellus, ullamcorper ac velit quis, bibendum eleifend leo. Etiam vel justo aliquam, volutpat purus quis, lobortis ex. Quisque ac mi vel eros egestas molestie id eget sem.</p>
        </div>
        <div class="col-md-5">
          <img src="https://revista.abrale.org.br/wp-content/uploads/2018/10/M%C3%A9dico.jpg" width="500" height="500" class="img-fluid" alt="Responsive image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Educação</h2>
          <p class="lead">Matrículas, acompanhamento dos alunos e programas educacionais</p>
          <p align="Justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis commodo semper. Quisque suscipit lectus turpis, non aliquet urna sagittis a. Fusce est enim, egestas vel fringilla non, egestas sit amet purus. In hac habitasse platea dictumst. Integer in feugiat lorem, sed pharetra nunc. Donec consectetur, quam non sollicitudin fermentum, lorem eros hendrerit elit, ut dignissim tellus lectus non purus. Maecenas vestibulum quam volutpat sapien imperdiet, sed molestie lectus aliquam. Phasellus a dolor dapibus, sollicitudin lorem nec, porttitor tellus. Ut lacus tellus, ullamcorper ac velit quis, bibendum eleifend leo. Etiam vel justo aliquam, volutpat purus quis, lobortis ex. Quisque ac mi vel eros egestas molestie id eget sem.</p>
        </div>
        <div class="col-md-5">
          <img width="500" height="500" src="https://www.metodista.org.br/content/interfaces/cms/userfiles/files/img-metodista-educacao01.png" class="img-fluid" alt="Responsive image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Meio Ambiente</h2>
          <p class="lead">Árvores, parques, áreas verdes e licenças ambientais</p>
          <p align="Justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis commodo semper. Quisque suscipit lectus turpis, non aliquet urna sagittis a. Fusce est enim, egestas vel fringilla non, egestas sit amet purus. In hac habitasse platea dictumst. Integer in feugiat lorem, sed pharetra nunc. Donec consectetur, quam non sollicitudin fermentum, lorem eros hendrerit elit, ut dignissim tellus lectus non purus. Maecenas vestibulum quam volutpat sapien imperdiet, sed molestie lectus aliquam. Phasellus a dolor dapibus, sollicitudin lorem nec, porttitor tellus. Ut lacus tellus, ullamcorper ac velit quis, bibendum eleifend leo. Etiam vel justo aliquam, volutpat purus quis, lobortis ex. Quisque ac mi vel eros egestas molestie id eget sem.</p>
        </div>
        <div class="col-md-5">
          <img width="500" height="500" src="https://www.expositorcristao.com.br/content/interfaces/cms/userfiles/files/2018_06_meioambiente2.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Agropecuárias</h2>
          <p class="lead">Programas relacionados a agropecuária</p>
          <p align="Justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis commodo semper. Quisque suscipit lectus turpis, non aliquet urna sagittis a. Fusce est enim, egestas vel fringilla non, egestas sit amet purus. In hac habitasse platea dictumst. Integer in feugiat lorem, sed pharetra nunc. Donec consectetur, quam non sollicitudin fermentum, lorem eros hendrerit elit, ut dignissim tellus lectus non purus. Maecenas vestibulum quam volutpat sapien imperdiet, sed molestie lectus aliquam. Phasellus a dolor dapibus, sollicitudin lorem nec, porttitor tellus. Ut lacus tellus, ullamcorper ac velit quis, bibendum eleifend leo. Etiam vel justo aliquam, volutpat purus quis, lobortis ex. Quisque ac mi vel eros egestas molestie id eget sem.</p>
        </div>
        <div class="col-md-5">
          <img width="500" height="500" src="https://image.freepik.com/vetores-gratis/personagem-plana-de-motorista-de-trator-trabalhador-agricola-dirigindo-a-ilustracao-dos-desenhos-animados-de-maquinas-agricolas-industria-agropecuaria-colheita-equipamento-de-plantio-maquina-isolada-no-fundo-branco_151150-585.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>

      <hr class="featurette-divider">
  </div><!-- /.container -->
{% endblock %}