{% extends "base.html" %}
{% block title %}Cadastro{% endblock %}
{% block content %}
    <div class="row row-cols-1 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Cadastro</h4>
          </div>
          <div class="card-body">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Registrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %} 