{% extends "base.html" %}
{% block title %}Impostos{% endblock %}
{% block content %}
{% include "header.html" %}
  <main>
    <div class="row row-cols-1 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-4">
            <h4 class="my-0 fw-normal"></h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Impostos</h4>
          </div>
          <div class="card-body">            
            <h1 class="card-title pricing-card-title">
              Olá, {{ first_name }}
            </h1>
            <h1 class="card-title pricing-card-title">
              {% if type == 'R' %}
                CPF: {{ key }}
              {% elif type == 'F' %}
                CPF: {{ key }}
              {% else %}
                CNPJ: {{ key }}
              {% endif %}
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="text-muted fw-light">
                Valor 
                {% if type == 'R' %}
                  ITR: {{ tax }}
                {% elif type == 'F' %}
                  IPTU: {{ tax }}
                {% else %}
                  IPTU: {{ tax }}
                {% endif %}
                reais
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}