{% extends "base.html" %}
{% block title %}Cadastro{% endblock %}
{% block content %}
  <div class="row row-cols-1 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Entrar</h4>
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'account:login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 